<h3>Cliente <small>{{heroe.nombre}}...</small></h3>
<hr>

<button [routerLink]="['heroes']" routerLinkActive="router-link-active" class="btn btn-outline-danger">
  Regresar
</button>
<span>&nbsp;&nbsp;</span>
<button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-success">
  Nuevo héroe
</button>
<hr>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="form-group">
                <label>Nombre</label>
                <input [(ngModel)]="heroe.nombre" class="form-control" type="text" name="nombre" required>
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <select [(ngModel)]="heroe.casa" class="form-control" name="casa">
                  <option value="ciudadUno">Ciudad 1</option>
                  <option value="ciudadDos">Ciudad 2</option>
                </select>
            </div>
            <div class="form-group">
                <label>Observaciones</label>
                <textarea [(ngModel)]="heroe.bio" type="text" name="bio" class="form-control">
                </textarea>
            </div>
            <div class="form-group">
                <button routerLinkActive="router-link-active" [disabled]="!forma.valid" type="submit" class="btn btn-primary">
                  Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>